/* Write your CSS here */

.suggestion-card {
  display: flex;
  justify-content: space-between;
}
.suggestion-name {
  color: #64748b;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 700;
}
.arrow {
  height: 20px;
}
